<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	
<head>
    <meta charset="utf-8" />
	<title data-th-text="#{strategy.list.page.title}">Title</title>
</head>

<body>
<div>
	<table>
		<caption data-th-text="#{strategy.list.table.title}">Temp table title</caption>
		<thead>
			<tr>
				<th scope="col" data-th-text="#{strategy.list.id.label}">Temp ID</th>
				<th scope="col" data-th-text="#{strategy.list.type.label}">Temp Type</th>
				<th scope="col" data-th-text="#{strategy.list.name.label}">Temp Name</th>
				<th scope="col" data-th-text="#{strategy.list.actions.label}">Temp Action</th>
			</tr>
		</thead>
		<tbody>
			<tr data-th-each="strategy : ${strategies}">
				<td data-th-text="${strategy.id}">1</td>
				<td data-th-text="${strategy.type}">Iron Butterfly</td>
				<td data-th-text="${strategy.name}">Triple Butter</td>
				<td><a href="#" data-th-href="@{/strategy/delete(id=${strategy.id},phase=stage)}">delete</a> | 
					<a href="#" data-th-href="@{/getParam(id=${strategy.id})}">edit</a>
				</td>
			</tr>
			<tr data-th-remove="all">
				<td>2</td>
				<td>Iron Condor</td>
				<td>High Prob Hedged</td>
				<td><a href="#">delete</a> | <a href="#">edit</a></td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>
